html {
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;
}

body,
input,
textarea {
	font-family: 'Vollkorn', Georgia, serif;
	color: #3A4145;
	text-rendering: geometricPrecision;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quattrocento', Georgia, serif;
	font-weight: 400;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	letter-spacing: 0.18em;
	line-height: 1.5;

	&:not(:first-child) {
		margin-top: 2.2em;
	}
}

a {
	color: #4489b1;
	transition: color 0.2s ease;
	text-decoration: none;

	&:hover {
		color: #73a9c9;
	}
}

.blockquote {
    font-size: 1rem;
}
